.readout {
    //   display: flex;
    // position: absolute;
  
    position: absolute;
    width: 100px;
    height: 30px;
    padding: 4px;
    // border: 1px #4125c0;
    top: 100px;
    left: 600px;
    // background: #e8eeec;
    border-style: solid;
    //   border-color: rgb(91, 91, 94);
  }
  